<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>Components</key>
	<array>

	<!-- This is our tag configuration -->
	<!--
		<dict>
			<key>Color</key>
			<array>
            <real>0.349020</real>
            <real>0.521569</real>
            <real>0.784314</real>
			</array>
			<key>Start</key>
			<string>BEGIN</string>
			<key>End</key>
			<string>END</string>
			<key>IgnoredComponent</key>
			<string>Strings</string>
			<key>Name</key>
			<string>Tags</string>
			<key>Type</key>
			<string>Tag</string>
		</dict>
	-->
	<!-- This is our quotes configuration -->

		<dict>
			<key>Color</key>
			<!--
			<array>
            <real>0.349020</real>
            <real>0.521569</real>
            <real>0.784314</real>
			</array>
						
			<array>
            <real>1</real>
            <real>0</real>
            <real>0</real>
			</array>
			-->
			<array>
            <real>0.894118</real>
            <real>0.015686</real>
            <real>0.015686</real>
			</array>
			

			<key>Start</key>
			<string>'</string>
			<key>End</key>
			<string>'</string>
			<key>IgnoredComponent</key>
			<string>Keywords</string>
			<key>EscapeChar</key>
			<string></string>
			<key>Name</key>
			<string>Strings</string>
			<key>Type</key>
			<string>String</string>
		</dict>

	<!-- This is our keywords configuration -->

		<dict>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz@_1234567890</string>
			<key>Color</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>Keywords</key>
			<array>

	<string>ADD</string>
	<string>ALL</string>
	<string>ALTER</string>
	<string>AND</string>
	<string>ANY</string>
	<string>AS</string>
	<string>ASC</string>
	<string>AUTHORIZATION</string>
	<string>AVG</string>
	<string>BACKUP</string>
	<string>BEGIN</string>
	<string>BETWEEN</string>
	<string>BREAK</string>
	<string>BROWSE</string>
	<string>BULK</string>
	<string>BY</string>
	<string>CASCADE</string>
	<string>CASE</string>
	<string>CHECK</string>
	<string>CHECKPOINT</string>
	<string>CLOSE</string>
	<string>CLUSTERED</string>
	<string>COALESCE</string>
	<string>COLUMN</string>
	<string>COMMIT</string>
	<string>COMMITTED</string>
	<string>COMPUTE</string>
	<string>CONFIRM</string>
	<string>CONSTRAINT</string>
	<string>CONTAINS</string>
	<string>CONTAINSTABLE</string>
	<string>CONTINUE</string>
	<string>CONTROLROW</string>
	<string>CONVERT</string>
	<string>COUNT</string>
	<string>CREATE</string>
	<string>CROSS</string>
	<string>CURRENT</string>
	<string>CURRENT_DATE</string>
	<string>CURRENT_TIME</string>
	<string>CURRENT_TIMESTAMP</string>
	<string>CURRENT_USER</string>
	<string>CURSOR</string>
	<string>DATABASE</string>
	<string>DBCC</string>
	<string>DEALLOCATE</string>
	<string>DECLARE</string>
	<string>DEFAULT</string>
	<string>DELETE</string>
	<string>DENY</string>
	<string>DESC</string>
	<string>DISK</string>
	<string>DISTINCT</string>
	<string>DISTRIBUTED</string>
	<string>DOUBLE</string>
	<string>DROP</string>
	<string>DUMMY</string>
	<string>DUMP</string>
	<string>ELSE</string>
	<string>END</string>
	<string>ERRLVL</string>
	<string>ERROREXIT</string>
	<string>ESCAPE</string>
	<string>EXCEPT</string>
	<string>EXEC</string>
	<string>EXECUTE</string>
	<string>EXISTS</string>
	<string>EXIT</string>
	<string>FETCH</string>
	<string>FILE</string>
	<string>FILLFACTOR</string>
	<string>FLOPPY</string>
	<string>FOR</string>
	<string>FOREIGN</string>
	<string>FREETEXT</string>
	<string>FREETEXTTABLE</string>
	<string>FROM</string>
	<string>FULL</string>
	<string>GOTO</string>
	<string>GRANT</string>
	<string>GROUP</string>
	<string>HAVING</string>
	<string>HOLDLOCK</string>
	<string>IDENTITY</string>
	<string>IDENTITYCOL</string>
	<string>IDENTITY_INSERT</string>
	<string>IF</string>
	<string>IN</string>
	<string>INDEX</string>
	<string>INNER</string>
	<string>INSERT</string>
	<string>INTERSECT</string>
	<string>INTO</string>
	<string>IS</string>
	<string>ISOLATION</string>
	<string>JOIN</string>
	<string>KEY</string>
	<string>KILL</string>
	<string>LEFT</string>
	<string>LEVEL</string>
	<string>LIKE</string>
	<string>LINENO</string>
	<string>LOAD</string>
	<string>MAX</string>
	<string>MIN</string>
	<string>MIRROREXIT</string>
	<string>NATIONAL</string>
	<string>NOCHECK</string>
	<string>NONCLUSTERED</string>
	<string>NOT</string>
	<string>NULL</string>
	<string>NULLIF</string>
	<string>OF</string>
	<string>OFF</string>
	<string>OFFSETS</string>
	<string>ON</string>
	<string>ONCE</string>
	<string>ONLY</string>
	<string>OPEN</string>
	<string>OPENDATASOURCE</string>
	<string>OPENQUERY</string>
	<string>OPENROWSET</string>
	<string>OPTION</string>
	<string>OR</string>
	<string>ORDER</string>
	<string>OUTER</string>
	<string>OVER</string>
	<string>PERCENT</string>
	<string>PERM</string>
	<string>PERMANENT</string>
	<string>PIPE</string>
	<string>PLAN</string>
	<string>PRECISION</string>
	<string>PREPARE</string>
	<string>PRIMARY</string>
	<string>PRINT</string>
	<string>PRIVILEGES</string>
	<string>PROC</string>
	<string>PROCEDURE</string>
	<string>PROCESSEXIT</string>
	<string>PUBLIC</string>
	<string>RAISERROR</string>
	<string>READ</string>
	<string>READTEXT</string>
	<string>RECONFIGURE</string>
	<string>REFERENCES</string>
	<string>REPEATABLE</string>
	<string>REPLICATION</string>
	<string>RESTORE</string>
	<string>RESTRICT</string>
	<string>RETURN</string>
	<string>REVOKE</string>
	<string>RIGHT</string>
	<string>ROLLBACK</string>
	<string>ROWCOUNT</string>
	<string>ROWGUIDCOL</string>
	<string>RULE</string>
	<string>SAVE</string>
	<string>SCHEMA</string>
	<string>SELECT</string>
	<string>SERIALIZABLE</string>
	<string>SESSION_USER</string>
	<string>SET</string>
	<string>SETUSER</string>
	<string>SHUTDOWN</string>
	<string>SOME</string>
	<string>STATISTICS</string>
	<string>SUM</string>
	<string>SYSTEM_USER</string>
	<string>TABLE</string>
	<string>TAPE</string>
	<string>TEMP</string>
	<string>TEMPORARY</string>
	<string>TEXTSIZE</string>
	<string>THEN</string>
	<string>TO</string>
	<string>TOP</string>
	<string>TRAN</string>
	<string>TRANSACTION</string>
	<string>TRIGGER</string>
	<string>TRUNCATE</string>
	<string>TSEQUAL</string>
	<string>UNCOMMITTED</string>
	<string>UNION</string>
	<string>UNIQUE</string>
	<string>UPDATE</string>
	<string>UPDATETEXT</string>
	<string>USE</string>
	<string>USER</string>
	<string>VALUES</string>
	<string>VARYING</string>
	<string>VIEW</string>
	<string>WAITFOR</string>
	<string>WHEN</string>
	<string>WHERE</string>
	<string>WHILE</string>
	<string>WITH</string>
	<string>WORK</string>
	<string>WRITETEXT</string>

								
			</array>
			<key>Name</key>
			<string>Identifiers</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>

	<dict>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz@_1234567890</string>
			<key>Color</key>
			<array>
            <real>1</real>
            <real>0</real>
            <real>1</real>
			</array>
			<key>Keywords</key>
			<array>


<string>@@char_convert</string>
<string>@@client_csname</string>
<string>@@client_csid</string>
<string>@@connections</string>
<string>@@cpu_busy</string>
<string>@@error</string>
<string>@@identity</string>
<string>@@idle</string>
<string>@@io_busy</string>
<string>@@isolation</string>
<string>@@langid</string>
<string>@@language</string>
<string>@@maxcharlen</string>
<string>@@max_connections</string>
<string>@@ncharsize</string>
<string>@@nestlevel</string>
<string>@@pack_received</string>
<string>@@pack_sent</string>
<string>@@packet_errors</string>
<string>@@procid</string>
<string>@@rowcount</string>
<string>@@servername</string>
<string>@@spid</string>
<string>@@sqlstatus</string>
<string>@@textcolid</string>
<string>@@textdbid</string>
<string>@@textobjid</string>
<string>@@textptr</string>
<string>@@textsize</string>
<string>@@textts</string>
<string>@@thresh_hysteresis</string>
<string>@@timeticks</string>
<string>@@total_errors</string>
<string>@@total_read</string>
<string>@@total_write</string>
<string>@@tranchained</string>
<string>@@trancount</string>
<string>@@transtate</string>
<string>@@version</string>

<string>getdate</string>

	</array>
			<key>Name</key>
			<string>GlobalVariables</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		

<dict>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz@_1234567890</string>
			<key>Color</key>
			<array>
            <real>0.431373</real>
            <real>0.137255</real>
            <real>0.145098</real>
			</array>
			<key>Keywords</key>
			<array>


<string>sp_help</string>
<string>sp_who</string>
<string>sp_helptext</string>


	</array>
			<key>Name</key>
			<string>BuildInFunctions</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		
		

	<!-- This is our comment configuration -->

		<dict>
			<key>Color</key>
			<array>
            <real>0.137255</real>
            <real>0.431373</real>
            <real>0.145098</real>
			</array>
			<key>Start</key>
			<string>/*</string>
			<key>End</key>
			<string>*/</string>
			<key>Name</key>
			<string>Comments</string>
			<key>Type</key>
			<string>BlockComment</string>
		</dict>
		
		<dict>
			<key>Color</key>
			<array>
            <real>0.137255</real>
            <real>0.431373</real>
            <real>0.145098</real>
			</array>
			<key>IgnoredComponent</key>
			<string>Keywords</string>
			<key>Name</key>
			<string>OneLineComment</string>
			<key>Start</key>
			<string>--</string>
			<key>Type</key>
			<string>OneLineComment</string>
		</dict>
					
	</array>

	<key>FileNameSuffixes</key>
	<array>
		<string>sql</string>
	</array>
</dict>
</plist>
