.CodeMirror {
  font-family: Monaco, monospace;
  height: 100%;
  color: black;
  font-size: 12px;
}
body, html, form{
  	height: 100%;
  	margin: 0;
  	padding: 0;
}
.cm-matchhighlight {
	border-style: solid;
	border-color: #8E8E8E;
	border-radius: 3px;
	border-width: 1px;
}
.cm-s-default .cm-keyword {
	color: #0072FC;
}